* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #fff;
  background: #0b0b0b;
}

/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

#navMenu a:hover {
  color: #ffb400;
}
.logo {
  font-size: 22px;
  font-weight: 700;
  color: #ffb400;
}

nav a {
  margin-left: 25px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* HERO */
.hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.hero-content h1 {
  font-size: 52px;
  font-weight: 700;
}

.hero-content p {
  margin: 15px 0 30px;
  font-size: 18px;
}

.btn {
  padding: 14px 32px;
  background: #ffb400;
  color: black;
  text-decoration: none;
  font-weight: 600;
  border-radius: 30px;
}

/* ABOUT */
.about {
  padding: 80px 10%;
  background: #111;
}

.about h2 {
  font-size: 36px;
  margin-bottom: 15px;
}

.stats {
  display: flex;
  gap: 30px;
  margin-top: 25px;
}

.stats span {
  font-size: 30px;
  color: #ffb400;
}

/* SERVICES */
.services {
  padding: 80px 10%;
  text-align: center;
  background-image: url("assets//cranes-1758459.jpg");
  background-size: cover;
  background-position: center;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

.card {
  padding: 40px;
  background: #1a1a1a;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  background: #ffb400;
  color: black;
}

/* PROJECTS */
.projects {
  padding: 80px 10%;
  background: #111;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.project {
  height: 220px;
  background: #333;
  border-radius: 12px;
}

/* CTA */
.cta {
  padding: 70px;
  text-align: center;
  background: #ffb400;
  color: black;
}

.btn.dark {
  background: black;
  color: white;
}

/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  background: black;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .logo {
    font-size: 22px;
    font-weight: 700;
    color: #ffb400;
    top: 0;
  }
  nav {
    display: none;
    position: absolute;
    top: 69px;
    right: 0;
    background: transparent;
    backdrop-filter: blur(10px);
    width: 50%;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    z-index: 10;
  }
  nav a {
    padding: 15px;
    display: block;
  }

  .menu-toggle {
    display: block;
    margin-left: 2vh;
  }

  .hero-content h1 {
    font-size: 34px;
  }
}
